{% extends 'post/layout.html' %}
{% block body%}
{% load widget_tweaks %}
{% load static%}
<div class="row">
    <div class="w-50 mx-auto">
<form class="form-inline mt-2 mt-md-0" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        {% render_field form.title placeholder=form.title.label class+="ml-2 form-control mr-sm-2 m-2" %}
        <br>
        {% render_field form.content placeholder=form.content.label class+="ml-2 form-control mr-sm-2 m-2" %}
        <br>
        {% render_field form.post_image placeholder=form.post_image.label %}
        <button class="btn btn-success ml-2 m-2" type="submit">Create</button>
    </fieldset>
    <br>
</form>
    </div>
</div>
{% endblock%}