<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work With API</title>
    <style>
        h1 {
            font-family: 'Luckiest Guy', cursive;
            font-size: 60px;
        }

        h2 {
            font-family: 'Lobster', cursive;
        }

        h3 {
            font-family: 'Lobster', cursive;
        }
    </style>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <div class="container text-center">
        <h1 class="mt-5">
            Work With API
        </h1>
        <div class="row">
            <h2>
                <a href='https://documenter.getpostman.com/view/11740659/Tz5p7JYg'>Documentation</a>
            </h2>
        </div>
        <div class="container">
            <h3 class="mt-5">
                Due to limited resources, only certain requests can be made in a day. If APIs are not working, Please
                try next day or </h3>
            <h3>
                <a href="mailto:anantgithub@gmail.com">contact me</a>
            </h3>

        </div>
    </div>
</body>

</html>